<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/component/auth/css/login.css">
</head>
<body>
    <container>
        <div class="logo">
            <a href="/index.html"><img src="/img/Logo-hodu.png" alt="로고이미지" /></a>
        </div>
        <div class="login">
            <div class="login-options">
                <span class="active">구매회원 로그인</span>
                <span class="inactive">판매회원 로그인</span>
            </div>
            <form action="">
                <input type="text" placeholder="아이디">
                <input type="password" placeholder="비밀번호">
                <p>경고 문구 나오는 부분</p>
                <button type="submit">로그인</button>
            </form>
        </div>
        <div class="auth">
            <a href="/component/auth/signup.html"><span>회원가입</span></a> |
            <span>비밀번호 찾기</span>
        </div>
    </container>
</body>
</html>