body{
    display: flex;
    justify-content: center;
    align-items: center;
}

container{
    margin-top: 100px;
}

.logo{
    width: 238px;
    height: 74px;
    margin: auto;
}

.login{
    margin-top: 70px;
    width: 550px;
    height: 388px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.login-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 52px;
}

.login-options span {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.login-options .active {
    width: 275px;
    height: 70px;
    border-bottom: none;
}

.login-options .inactive {
    background-color: #d3d3d3;
    width: 275px;
    height: 70px;
    border: 1px solid #ccc;
    border-bottom: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    width: 480px;
    height: 60px;
    border: none;
    border-bottom: 1px solid #ccc;
}
form p {
    color: #EB5757;
    width: 480px;
    height: 20px;
    text-align: left;
}

form button{
    width: 480px;
    height: 60px;
    background-color: #21BF48;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}

.auth{
    margin-top: 30px;
    text-align: center;
}

.auth a{
    text-decoration: none;
    color: black;
}

